* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


#navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

#navbar_container div {
  margin: 0 0.5rem;
}

#navbar_container div a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

#navbar_container div a:hover {
  color:#c300ff;
}
